body {
}
.head {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  justify-content: space-between;
  position: sticky;
}
.head > .header {
  text-align: center;
  width: 90vw;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.new {
  width: 80px;
  font-size: 3rem;
  color: white;
  background-color: blue;
  font-weight: 900;
  border: none;
  border-radius: 50%;
  position: sticky;
}
.new:hover {
  color: blue;
  /* font-size: 3.5rem; */
  background-color: white;
}
html {
  overflow: none;
}
#root > div {
  height: 20vh;
  width: 100vw;
}
#root > div > h3 {
  font-size: 0.8rem;
}
.noteTitle {
  background-color: blue;
  text-align: center;
}

.button {
  border: none;
  display: flex;
  column-gap: 3vw;
  text-align: center;
}
.butt {
  border-radius: 25px;
  font-size: 15px;
  font-weight: 700;
}
.tile {
  /* position: absolute; */
  margin: 0px;
  margin-top: 15vh;
  min-width: 50vh;
  min-height: 30vh;
  background-color: rgb(139, 139, 236);
}
.page-container {
  /* margin-top: vh; */
  overflow: auto;
  min-height: 71vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
footer {
  margin-top: 20%;
  z-index: -1;
  text-align: center;
} */

.page-container {
  margin-top: 0;
  transition: margin-top 0.5s ease-in-out;
}

.tile-container {
  margin-bottom: -86px; /* Adjust the spacing as needed */
}
