.head {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  justify-content: space-between;
}
.head > .header {
  text-align: center;
  width: 90vw;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.new {
  width: 80px;
  font-size: 3rem;
  color: white;
  background-color: blue;
  font-weight: 900;
  border: none;
  border-radius: 50%;
}
.new:hover {
  color: blue;
  font-size: 3.5rem;
  background-color: white;
}

#root > div {
  height: 20vh;
  width: 40%;
  background-color: rgb(139, 139, 236);
}
#root > div > h3 {
  font-size: 0.8rem;
}
.noteTitle {
  background-color: blue;
  text-align: center;
}

.button {
  border: none;
  display: flex;
  column-gap: 3vw;
  text-align: center;
}
.butt {
  border-radius: 25px;
  font-size: 15px;
  font-weight: 700;
}

.page-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  min-width: 50vh;
  min-height: 30vh;
}

footer {
  margin-top: auto;
  text-align: center;
}
